:root {
    --primary-color: #055a05;
    --secondary-color: #f4a261;
    --ascent1-color: #264653;
    --ascent2-color: #e9c46a;
    --heading-font: "Times new roman", "georgia", serif;
    --body-font: arial, helvetica, sans-serif;
} 

* {
    margin: 0;
    padding: 0%;
    box-sizing: border-box;
}

body {
    font-family: var(--body-font);
    color: var(--ascent1-color);
}

header, main, footer {
    width: 840px;
    margin:  auto;
}

.container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 1%;
    background-color: rgb(198, 145, 241);
    border-bottom: 5px solid black;
    padding: 5px;
    border: 10px
}

.container img {
    padding: 40px;
    width: 250px;
    margin-right: 40px;
}

.container li {
    display: flex;
    align-items: center;
    border: 2px solid black;
    padding: 5px;
    float: left;
    background-color: #fff;
    margin-top: 50px;
}

h1 {
    font-family: var(--heading-font);
    color: var(--primary-color);
}

h2 {
    font-family: var(--heading-font);
    color: #fff;
    background-color: var(--ascent1-color);
    text-align: center;
    clear: both;
}

nav, p, section, article {
    margin: 16px;
    padding: 8px;
}

.socialmedia a {
    text-decoration: none;
}

.hero {
    display: table;
    position: relative;
    height: auto;
}

.hero img {
    display: block;
    width: 100%;
}

.hero h1 {
    position: absolute;
    top: 20px;
    width: 100%;
    padding: 16px;
    text-align: center;
    opacity: 0.9;
    background-color: var(--ascent2-color);
    color: #fff;
}


.hero article {
    position: absolute;
    bottom: 20px;
    padding: 8%;
    border-radius: 8px;
}

.hero article img  {
    width: 125px;
    height: fit-content;
    float: right;
    position: relative;
    z-index: 9999;
    
}
.hero article p {
    margin-top: 0;
    font-weight: bold;
    background-color: var(--secondary-color);
    opacity: 1.0;
    color: white;
}



footer {
    display: grid;
    grid-template-columns:75% 25%;
    padding: 2px;
    border: 1px solid black;
    text-align: center;
}

.footer p {
    border-left: black;
}

.socialmedia img {
    float: right;
    width: 40px;
}

.section1 {
    align-items: center;
    border: 1px solid black;
    display: grid;
    grid-template-columns:1fr 1fr 1fr;
}

.section1 img{
   width: 80%;
   justify-items: center;
}

.section2{
    display: grid;
    
    padding: 20px;
    border: 1px solid black;
    margin: 0 0 30px 0;
}


.gallery
{
    width: 100%;
}
/*.gallery figure
{
    width: 18%; 
   /* display: inline-block;
   float: left;
   padding: 0 5px;
}*/
.gallery figure {
   width: 18%;
   float: left;
}
.gallery figure img
{
    width: 100%;
    vertical-align: top;
    display: grid;
    grid-template-columns: 20% 20% 20% 20% 20%;
    padding: 9px;
    justify-content: center;
}
.section2 h2 {
    margin-bottom: 10px;
}