:root {
    --primary-color: #055a05;
    --secondary-color: #f4a261;
    --ascent1-color: #264653;
    --ascent2-color: #e9c46a;
    --heading-font: "Times new roman", "georgia", serif;
    --body-font: arial, helvetica, sans-serif;
} 

* {
    margin: 0;
    padding: 0%;
    box-sizing: border-box;
}

body {
    font-family: var(--body-font);
    color: var(--ascent1-color);
}

header, main, footer {
    width: 840px;
    margin: 0 auto;
}

h1 {
    font-family: var(--heading-font);
    color: var(--primary-color);
}

h2 {
    font-family: var(--heading-font);
    color: #fff;
    background-color: var(--ascent1-color);
    text-align: center;
    clear: both;
}

nav, p, section, article {
    margin: 16px;
    padding: 8px;
}

.socialmedia a {
    text-decoration: none;
}

.hero {
    display: table;
    position: relative;
    height: auto;
}

.hero img {
    display: block;
    width: 100%;
}

.hero h1 {
    position: absolute;
    top: 20px;
    width: 100%;
    padding: 16px;
    text-align: center;
    opacity: 0.9;
    background-color: var(--ascent2-color);
    color: #fff;
}


.hero article {
    position: absolute;
    bottom: 20px;
    padding: 20px;
    border-radius: 8px;
}

.hero article img  {
    width: 125px;
    float: right;
    
}
.hero article p {
    margin-top: 0;
    font-weight: bold;
    background-color: var(--secondary-color);
    opacity: 1.7;
    color: white;
}

footer {
    border-top: 1px solid #000;
}