nav {
    background-color: #0000ff;
    padding: 10px;
}

nav a {
    color: #eee;
    padding: 5px;
    display: block;
}

main {
    max-width: 840px;
}

aside {
    width: 20rem;
    margin: 1rem;
    border: 1px solid rgb(0 0 0/ 0.2);
    padding: 1rem;
    background-color: #eee;
    color: #333;
    text-align: center;
}

main img {
    width: 150px;
    height: auto;
    box-shadow: 0 0 10px #000;
    padding: 2px;
    border: 1px solid #000;
}

aside img {
    width: 200px;
    height: auto;
}

h1 {
    color: #000;

}

p {
    padding: 0;
}

footer {
    margin-top: 15px;
    border-top: 1px solid #000;
    text-align: center;
}